.timer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-weight: bold;
}

.board-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  margin: 1%;
}
.board-block {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  font-size: x-large;
  font-weight: bolder;

  border: solid 2px #e3e6e9;
}

gameoverDiv {
  background-color: red;
}
